{% load static %}

<div class="about-area section-padding bg-gray">
   <div class="container">
     <div class="row">
       <div class="col-lg-6 col-md-12 col-xs-12 info">
         <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
           <div>
             <div class="site-heading">
               <p class="mb-3">Bem-vindo ao</p>
               <h2 class="section-title">Estudio de PILATES</h2>
             </div>
             <div class="content">
               <p>
                Aqui, acreditamos na importância de uma abordagem personalizada, adaptando cada exercício às suas necessidades e objetivos individuais. Com uma equipe de instrutores altamente qualificados, estamos comprometidos em proporcionar um ambiente acolhedor e motivador, onde você pode melhorar sua flexibilidade, fortalecer seus músculos e encontrar alívio para dores. 
               </p>
               <a href="#" class="btn btn-common mt-3">Leia mais</a>
             </div>
           </div>
         </div>
       </div>
       <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
         <img class="img-fluid" src="{% static 'img/about/pilatesAjuda.jpg' %}" alt="" >
       </div>
     </div>
   </div>
 </div>